<html>
    <head>
    <style>
    table, td {
        border: 1px solid black;
    }
    </style>
    </head>
    <body>
        <h1 style="font-family:'Arial'">Oefeningsmodule voor statistische rapporten</h1>
        <form action="reportform" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ instruction | safe}}
        
        <p>Schrijf hieronder je beknopte rapport. 
            {{ form.inputtext.label(id='input') }}<br>
            {{ form.inputtext(cols="80", rows="12")|safe }}
        </p>
        <span style="color: blue;">{{ display | safe}}</span>
        
        <p>
        {{ form.submit() }}
        {{ form.nextt() }}
        </p>
    </form>
    </body>
</html>
